In [259]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re

In [367]:
#import data as csv and encoded as "mac_roman"
APCspend = pd.read_csv("WELLCOME_APCspend2013_forThinkful.csv", encoding="mac_roman")

In [365]:
topJournal5 = APCspend["Journal title"].str.lower().unique().tolist()

b = []
for rep in APCspend["COST (£) charged to Wellcome (inc VAT when charged)"]:
    l =  re.split("£|\$", rep)
    l = l[0]+l[1]
    b.append(l)
APCspend["COST"] = pd.to_numeric(b, errors='coerce')


APCspend.fillna(0)
placehold = []
for journal in topJournal5:
    J = 0
    cost = 0
    Jcount = APCspend[APCspend["Journal title"].str.lower() == journal]
    Jcount = Jcount[Jcount["COST"] != 999999.00]
    
    J = Jcount["Article title"].count()
    Meancost = np.around(Jcount["COST"].sum()/J, 2)
    Mediancost = np.around(np.median(Jcount["COST"]),2)
    STD = np.around((Jcount["COST"]).std(),2)
    
    holdlist1 = [journal, J, Meancost, Mediancost, STD]
    placehold.append(holdlist1)

APCdf =pd.DataFrame(placehold)
APCdf.columns = ["Journal title", "Count", "Mean Cost", "Median Cost", "STD"]
APCdf.sort_values(by=["Count"], ascending=False).head()

C:\Users\ktser\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in long_scalars
C:\Users\ktser\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\ktser\Anaconda3\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

                       Journal title  Count  Mean Cost  Median Cost       STD
622                         plos one    183    1982.25       896.99  14173.07
11   journal of biological chemistry     52    1423.59      1301.14    411.95
212                       neuroimage     29    2215.17      2326.43    266.65
572           nucleic acids research     23    1169.22       852.00    454.33
620                    plos genetics     22    1643.11      1712.73    153.37

In [361]:
Jcount = APCspend[APCspend["Journal title"].str.lower() == "plos one"]
Jcount = Jcount[Jcount["COST"] != 999999.00]
Jcount["COST"].max()

192645.0