In [94]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import ensemble
#import pydotplus
#import graphviz
from IPython.display import Image
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.datasets import fetch_mldata
from sklearn.model_selection import train_test_split

mnist = pd.read_csv("RandomForesttemps.csv")

In [45]:
mnist.head()

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41

In [42]:
mnist_list = list(mnist.columns)
#mnist = np.array(mnist)

months = mnist[:, mnist_list.index('month')]
days = mnist[:, mnist_list.index('day')]
years = mnist[:, mnist_list.index('year')]

In [19]:
mnist.isnull().values.any()

False

In [23]:
# Descriptive statistics for each column
mnist.describe()

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
count,348.0,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000
mean,2016.0,6.477011,15.514368,62.652299,62.701149,59.760632,62.543103,57.238506,62.373563,59.772989,60.034483
std,0.0,3.498380,8.772982,12.165398,12.120542,10.527306,11.794146,10.605746,10.549381,10.705256,15.626179
min,2016.0,1.000000,1.000000,35.000000,35.000000,45.100000,35.000000,41.000000,46.000000,44.000000,28.000000
25%,2016.0,3.000000,8.000000,54.000000,54.000000,49.975000,54.000000,48.000000,53.000000,50.000000,47.750000
50%,2016.0,6.000000,15.000000,62.500000,62.500000,58.200000,62.500000,56.000000,61.000000,58.000000,60.000000
75%,2016.0,10.000000,23.000000,71.000000,71.000000,69.025000,71.000000,66.000000,72.000000,69.000000,71.000000
max,2016.0,12.000000,31.000000,117.000000,117.000000,77.400000,92.000000,77.000000,82.000000,79.000000,95.000000

In [ ]:
f, (ax1, ax2, ax3, ax4) = plt.subplots(1, 4, sharey='all', sharex='none', figsize=(18,6))

ax1.scatter(mnist['', AQMadrid['Price'], color='r')

ax2.scatter(AQMadrid['Bathrooms'], AQMadrid['Price'], color='b')

ax3.scatter(AQMadrid['SQFT'], AQMadrid['Price'], color='k')

ax4.scatter(AQMadrid['Price/SQFT'], AQMadrid['Price'], color='g')

plt.show()

In [99]:
# One-hot encode the data using pandas get_dummies
mnist = pd.get_dummies(mnist)
# Display the first 5 rows of the last 12 columns
mnist.head(20)

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2016,1,1,45,45,45.6,45,43,50,44,29,1,0,0,0,0,0,0
1,2016,1,2,44,45,45.7,44,41,50,44,61,0,0,1,0,0,0,0
2,2016,1,3,45,44,45.8,41,43,46,47,56,0,0,0,1,0,0,0
3,2016,1,4,44,41,45.9,40,44,48,46,53,0,1,0,0,0,0,0
4,2016,1,5,41,40,46.0,44,46,46,46,41,0,0,0,0,0,1,0
5,2016,1,6,40,44,46.1,51,43,49,48,40,0,0,0,0,0,0,1
6,2016,1,7,44,51,46.2,45,45,49,46,38,0,0,0,0,1,0,0
7,2016,1,8,51,45,46.3,48,43,47,46,34,1,0,0,0,0,0,0
8,2016,1,9,45,48,46.4,50,46,50,45,47,0,0,1,0,0,0,0
9,2016,1,10,48,50,46.5,52,45,48,48,49,0,0,0,1,0,0,0
10,2016,1,11,50,52,46.7,45,42,48,48,39,0,1,0,0,0,0,0
11,2016,1,12,52,45,46.8,49,44,50,45,61,0,0,0,0,0,1,0
12,2016,1,13,45,49,46.9,55,45,51,46,33,0,0,0,0,0,0,1
13,2016,1,14,49,55,47.0,49,43,47,46,58,0,0,0,0,1,0,0
14,2016,1,15,55,49,47.1,48,46,51,46,65,1,0,0,0,0,0,0
15,2016,1,16,49,48,47.3,54,45,52,46,28,0,0,1,0,0,0,0
16,2016,1,17,48,54,47.4,50,45,51,46,47,0,0,0,1,0,0,0
17,2016,1,18,54,50,47.5,54,44,48,49,58,0,1,0,0,0,0,0
18,2016,1,19,50,54,47.6,48,47,49,48,53,0,0,0,0,0,1,0
19,2016,1,20,54,48,47.7,52,44,52,49,61,0,0,0,0,0,0,1

In [102]:
target = mnist.actual
features = mnist.drop('actual', axis=1)

In [59]:
# The baseline predictions are the historical averages
baseline_preds = test_X[:, mnist_list.index('average')]
# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - test_Y)
print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  5.02

In [98]:
#initialize the tree model
decision_tree = tree.DecisionTreeClassifier(
    criterion='entropy',
    max_features=1,
    max_depth=4
)


import time
start_time = time.clock()
#main()
print("--- %s seconds ---" % (time.time() - start_time))

cross_val_score(decision_tree, features, target, cv=10)

--- 1533841198.6471794 seconds ---

C:\Users\ktser\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

array([ 0.01538462,  0.03773585,  0.08695652,  0.02439024,  0.02857143,
        0.03125   ,  0.12      ,  0.09090909,  0.05882353,  0.08333333])

In [97]:
rfc = ensemble.RandomForestClassifier(n_estimators = 1000, random_state = 42)

start_time = time.clock()
#main()
print("--- %s seconds ---" % (time.time() - start_time))
cross_val_score(rfc, features, target, cv=10)

--- 1533841198.6463714 seconds ---

C:\Users\ktser\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

array([ 0.01538462,  0.11320755,  0.10869565,  0.14634146,  0.14285714,
        0.15625   ,  0.16      ,  0.18181818,  0.17647059,  0.16666667])

In [103]:
# split data into test and traning
train_X, test_X, train_Y, test_Y = train_test_split( features, target, test_size=0.20, random_state=0)

In [104]:
# Instantiate model with 1000 decision trees
rfc = RandomForestRegressor(n_estimators = 100, random_state = 42)
# Train the model on training data
score = rfc.fit(train_X, train_Y).score(test_X, test_Y)
print(score)

0.807163316639

In [105]:
score = decision_tree.fit(train_X, train_Y).score(test_X, test_Y)
print(score)

0.0857142857143