In [1]:
import pandas
import numpy
import matplotlib.pyplot as plt

#### Multiples of 3 and 5
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.

In [2]:
sumnumlist = 0
for i in range(1, 1000):
    if i % 3 == 0 or i % 5 ==0:
        sumnumlist = sumnumlist + i
sumnumlist

233168

#### Names scores
Using names.txt, a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth 3 + 15 + 12 + 9 + 14 = 53, is the 938th name in the list. So, COLIN would obtain a score of 938 × 53 = 49714.

What is the total of all the name scores in the file?

In [3]:
#First name is alphabetical order
text_file = open("p022_names.txt", "r")
lines = text_file.read().split(',')

name_score = []
for i, names in enumerate(lines):
    k = 0
    for first_name in names:
        if not (ord(first_name)-64) < 0:
            l = ord(first_name)-64
        k = k + l
    name_score.append(k*i)

sum(name_score)

NameError: name 'l' is not defined

#### Pentagon numbers

Pentagonal numbers are generated by the formula, Pn=n(3n−1)/2. The first ten pentagonal numbers are:

1, 5, 12, 22, 35, 51, 70, 92, 117, 145, ...

It can be seen that P4 + P7 = 22 + 70 = 92 = P8. However, their difference, 70 − 22 = 48, is not pentagonal.

Find the pair of pentagonal numbers, Pj and Pk, for which their sum and difference are pentagonal and D = |Pk − Pj| is minimised; what is the value of D?

In [ ]:
#keep
penta_numb = []
for x in range(1, 1500):
    k = x*(3*x -1)/2
    penta_numb.append(k)

In [ ]:
sub_combo = []
for i in range(1000, 10000):
    for j in range(i, 10000):
        for n in penta_numb:
            penta1 = i*(3*i -1)/2
            penta2 = j*(3*j -1)/2
            penta_sub2 = penta2 - penta1
            if penta_sub2 == n:
                for x in penta_numb:
                    penta_sum = penta1 + penta2
                    if penta_sum == n:
                        print([i, j])
                        break